<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link href="/<%= manifest['app.css'] %>" rel="stylesheet">
    </head>
    <body>
        <div id="root">
        </div>
        <div id="modal-root">
        </div>
        <script src="https://use.fontawesome.com/7762955fec.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
        <script src="/<%= manifest['bundle.js'] %>"></script>
        <script src="/<%= manifest['app.js'] %>"></script>
    </body>
</html>