/*------------------------------------*\
  #GRID-LIST
\*------------------------------------*/

.grid-cell {
    position: relative;
    overflow: hidden;
}

.grid-cell--image {
    width: 100%;
    display: block;
}

.grid-cell--footer {
    display: flex;
    position: absolute;

    height: 48px;
    width: 100%;
    
    padding: 16px;
    transform: translateY(0);

    text-align: left;
    
    background: rgba($DARK, 0.6);
    color: rgba(#fff, 0.87);
    font-weight: 400;

    transition: transform 0.15s cubic-bezier(0.4, 0.0, 1, 1);
    will-change: transform;
    
}

.grid-cell:hover .grid-cell--footer{
    transform: translateY(-48px);
    transition: transform 0.15s cubic-bezier(0.0, 0.0, 0.2, 1);
}

//disable hover effect on mobile phones
@media (hover: none) {
    .grid-cell:hover .grid-cell--footer {
        transform: translateY(0);
    }
}

//text container to set all lines in column

.grid-cell--footer .text-container {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.grid-cell--footer .line-1 {
    font-size: 16px;
}

.grid-cell--footer .line-2 {
    font-size: 12px;
}

.grid-cell--footer {
    .text-container, .line-1, .line-2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.grid-cell--footer .icon {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}