/*------------------------------------*\
  #MISC
\*------------------------------------*/

/**
 * Icon in card header
 */

.card__header__icon {
    display: flex;
}


/**
 * "Pin" icon
 */
.pin-icon {
    cursor: pointer;
}

.pin-icon:hover, .pin-icon:hover.active {
    color: rgba(maroon, 0.8);
}

.pin-icon.active {
    color: maroon;
}

.pin-icon.disabled {
    color: rgba(0,0,0, 0.37);
    cursor: default;
}

/**
 * Delete icon
 */

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    color: red;
}


/**
 * Modal card title and img(avatar)
 */

.pin__modal__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pin__modal__avatar {
    cursor: pointer;
}
// add underline on owners name while hovering avatar
.pin__modal__avatar:hover + .card__header__text-container .pin__modal__title {
    text-decoration: underline;
}