/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

$nav-height: 56px;

.nav-bar {
    background: $DARK;

    position: relative;
    display: flex;
    align-items: baseline;
    overflow: hidden;

    max-height: $nav-height;
    width: 100%;
    z-index: $z-index-nav;
}

/**
 * [1] Set nav bar to fixed
 * [2] Set placeholder behind nav bar
 * So contenct below would stay in same position
 * and would not go under nav.
 */

.nav-bar.nav-bar--fixed {
    position: fixed;//[1]
    top: 0;

    +.nav-bar-placeholder { //[2]
        display: block;
    }
}

//set nav to fixed only on mobiles

.nav-bar.nav-bar--fixed-mobile {
    @media only screen and(max-width: 600px) { //[1]
        position: fixed;
        top: 0;

        +.nav-bar-placeholder { //[2]
            display: block;
        }
    }
}


/**
 * Placeholder for nav in case nav bar is set to fixed
 * with placeholder in place we prevent content moving up under nav bar
 * initially we set display to none
 * display should be changed to block only when nav istelf is set to fixed 
 */
.nav-bar-placeholder {
    content: "";
    height: $nav-height;
    display: none;
}

.nav-bar .title {
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
}

.nav-bar .nav ul {
    display: inline-block;
	margin:  0;
    padding: 0;
}
.nav-bar .nav li {
    display: inline-block;
	padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.nav-bar a {
    vertical-align: middle;
    color: #999;
	text-decoration: none;
    
    padding: 3px 12px;
    line-height: 56px;
    
}
.nav-bar a:hover {
	color: rgb(201, 201, 201);
}
.nav-bar .current a {
	color: #fff;
}
