/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

.d-1 {
    font-size: 112px;
    font-weight: 300;
    color: rgba(black, 0.54);
    letter-spacing: -10px;
}

.d-2 {
    font-size: 56px;
    font-weight: 400;
    color: rgba(black, 0.54);
    letter-spacing: -5px;
}

.d-3 {
    font-size: 45px;
    font-weight: 400;
    color: rgba(black, 0.54);
}

.d-4 {
    font-size: 34px;
    font-weight: 400;
    color: rgba(black, 0.54);
}

.headline {
    font-size: 24px;
    font-weight: 400;
    color: rgba(black, 0.87);
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: rgba(black, 0.87);
}

.subheading {
    font-size: 16px;
    font-weight: 400;
    color: rgba(black, 0.87);
}


