@import "./modules/all.scss";

@import "./partials/nav.scss";
@import "./partials/buttons.scss";
@import "./partials/input.scss";
@import "./partials/grid.scss";
@import "./partials/utils.scss";
@import "./partials/typography.scss";
@import "./partials/grid-list.scss";
@import "./partials/loader.scss";
@import "./partials/modal.scss";

@mixin gridItemSize(){
    width: 230px;
    @media only screen and (max-width: 600px) {
        width: 150px;
    }

}

html {
    @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    margin: 0px;
}

#newPicImage{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.grid{
    margin: 0 auto;
}
.grid-sizer{
    @include gridItemSize();
}
.grid-item {
    margin-bottom: 4px;
    float: left;
    @include gridItemSize();
}
.loading-image-parent {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.loading-image {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
}
.custom-thumbnail{
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}
.footbar{
    width: 100%;
    margin-top: 20px;
}
.loading_screen{
    height:100%;
    width:100%;
    position:absolute;
    background-color: rgba(0,0,0,0.04);
    z-index:3;
}
.image-placeholder{
    max-width: 100%;
    position: relative;
}
.image-wrap{
    white-space: pre-wrap;
}