@import "./modules/all.scss";

@import "./partials/nav.scss";

@mixin gridItemSize(){
    width: 230px;
    @media only screen and (max-width: 600px) {
        width: 150px;
    }

}

html {
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body{
    margin: 0px;
}

#newPicImage{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.grid{
    margin: 0 auto;
}
.grid-sizer{
    @include gridItemSize();
}
.grid-item {
    float: left;
    @include gridItemSize();
}
.loading-image-parent {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.loading-image {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
}
.custom-thumbnail{
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}
.footbar{
    width: 100%;
    margin-top: 20px;
}
.loader{
    margin: 10px;
}
.loading_screen{
    height:100%;
    width:100%;
    position:absolute;
    background-color: rgba(0,0,0,0.04);
    z-index:3;
}
.grid-image{
    min-width: 100%;
}
.image-placeholder{
    max-width: 100%;
}
.image-wrap{
    white-space: pre-wrap;
}